<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - MAZAGON</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <style>
        body {
            background-color: #e9ecef; /* Darker shade for the page background */
            padding-top: 80px;
        }

        .logo-header {
            height: auto;
            max-height: 70px; /* Adjust as needed */
            width:400px;
            max-width: 100%; /* Ensures logo is responsive and doesn't exceed its container width */
        }

    </style>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="~/SceStoreLogo.jpg" alt="SCE Store Logo" class="logo-header" style="height: 50px; width: auto;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Deals">Deals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Category">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>

                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/Products/Search" method="get">
                        <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search for products" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Orders", "Products")">
                                    <i class="fas fa-bell"></i>
                                    @if (ViewBag.ProductsWithOrdersCount > 0)
                                    {
                                        <span class="badge badge-pill badge-warning">@ViewBag.ProductsWithOrdersCount</span>
                                    }
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "ShoppingCart")">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="badge badge-pill badge-danger">@ViewBag.CartCount</span>
                            </a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                                    <button type="submit" class="btn btn-outline-danger">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <style>
        .navbar-dark .navbar-nav .nav-link {
            margin-right: 1rem; /* Space between nav links */
            border-radius: .25rem; /* Optional: Round corners for nav links */
            transition: background-color .3s ease; /* Smooth background-color transition */
        }

            .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
                background-color: rgba(255, 255, 255, 0.1); /* Highlight nav links on hover/focus */
            }

        .form-inline .form-control {
            margin-right: .5rem;
        }

        .form-inline button {
            margin: 0;
        }
    </style>


    <main role="main" class="container mt-3">
        @RenderBody()
    </main>

    <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container text-center">
            <span>&copy; @DateTime.Now.Year - MAZAGON</span>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
