@model IEnumerable<ShoppingWebsite.Models.Category>

<h2>Categories</h2>

<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    <img src="@item.Image" alt="Category Image" style="height: 50px;" />
                </td>
                <td>
                    <a href="@Url.Action("ProductsByCategory", "Products", new { categoryId = item.CategoryID })" class="text-decoration-none">View</a>
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a href="@Url.Action("Edit", "Category", new { id = item.CategoryID })" class="btn btn-info btn-block mt-2">Edit</a>
                    <form asp-action="Delete" asp-route-id="@item.CategoryID" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger btn-block mt-2">Delete Product</button>
                    </form>
                </td>
                }

            </tr>
        }
    </tbody>
</table>
 @if (User.IsInRole("Admin"))
                    {
<p>
    @Html.ActionLink("Create New", "Create")
</p>
                    }
@section Scripts {

}
