@model IEnumerable<ShoppingWebsite.Models.Product>

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Product Name", "Index", new { sortOrder = ViewData["NameSortParm"] })
            </th>
            <th>
                @Html.ActionLink("Category", "Index", new { sortOrder = ViewData["CategorySortParm"] })
            </th>
            <th>Unit Price</th>
            <th>
                @Html.ActionLink("Units In Stock", "Index", new { sortOrder = ViewData["StockSortParm"] })
            </th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProductName) <br><img src="@item.Supplier.Logo" alt="Logo Image" style="width: 70px; height: auto;" /></td>
                <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.UnitsInStock)</td>
                <td>
                    <img src="@item.Image" alt="Product Image" style="width: 100px; height: auto;" /> 
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
